#
#	simpletorrent configuration file
#

#	Listen <ip:port>
#	Use this directive to specify which port simpletorrent should listen on for incoming connections over HTTP.
#	"Listen 0.0.0.0:8888" will listen on all local addresses on port 8888.
#	"Listen [::]:8888" will listen on all local IPv6 addresses on port 8888.
#	Multiple "Listen" directives can be defined.

#Listen 0.0.0.0:8888
#Listen [::]:8888

#	ListenSsl <ip:port>
#	Use this directive to specify which port simpletorrent should listen on for incoming connections over HTTPS.
#	"ListenSsl 0.0.0.0:8889" will listen on all local addresses on port 8889.
#	"ListenSsl [::]:8889" will listen on all local IPv6 addresses on port 8888.
#	Multiple "ListenSsl" directives can be defined.

ListenSsl 0.0.0.0:8889
ListenSsl [::]:8889

SslCertificatePath Torrents\simple.pfx

# SslCertificateECDSA

RequireProtocolEncryption
TorrentListenPort 6888
GlobalMaxConnections 500
TorrentPath Torrents
DownloadPath Downloads